<div class="app-add-city">
    <div fxLayout="row">
        <form [formGroup]="addForm" (submit)="onSubmit()" action="" fxLayout="column">
            <mat-form-field appearance="outline">
                <mat-label>name</mat-label>
                <input formControlName="name" matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput placeholder="Placeholder">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">save</button>

        </form>
    </div>
</div>