<div class="app-list-state">
    <div class="list-state-title" fxLayout="row">
        <div fxFlex class="state-title">state</div>
        <button mat-raised-button routerLink="/state/add-state" color="primary">Add</button>

    </div>
    <div fxLayout=row>
        <table class="table table-dark table-striped" style="width: 100%;">
            <tr>
                <th>name</th>
                <th>description</th>
            </tr>
            <tr>
                <td>saeed</td>
                <td>fhakfkfjd</td>
            </tr>
        </table>
    </div>

</div>