<div class="app-manegment">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <div fxLayout="column">
                <button mat-button routerLink="/city/list-city">city</button>
                <button mat-button>state</button>
                <button mat-button>countriy</button>
                <button mat-button>products</button>
            </div>
        </mat-drawer>

        <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-container>
</div>