<div class="app-manegment">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <div fxLayout="column">
                <div class="item-nav-title">ProjectName</div>
                <a class="item-nav" routerLink="/city/list-city">
                    <mat-icon class="icon-nav" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    city
                </a>
                <a class="item-nav" routerLink="/state/list-state">
                    <mat-icon class="icon-nav" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    state
                </a>
                <a class="item-nav">
                    <mat-icon class="icon-nav" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    Country
                </a>
                <a class="item-nav">
                    <mat-icon class="icon-nav" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    products
                </a>
            </div>
        </mat-drawer>

        <div class="example-sidenav-content">
            <button type="button" mat-icon-button (click)="drawer.toggle()">
                <mat-icon class="icon-menu">menu</mat-icon>

          </button>
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-container>
</div>